
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,900&family=Poppins:ital,wght@0,300;1,900&display=swap');

    *,html,body{
        margin: 0;
        padding: 0s;
    }
    body{
        background: #111927;
        color: solid white;
        overflow-x: hidden;

    }
    header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 20px;
        margin-left: 20px;

    }
header .polkadod{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;

}
header .polkadod .red {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin: 5px;

}
header .polkadod .yellow{
    width:30px ;
    height: 30px;
    border-radius:50% ;
    background-color: yellow;
    margin: 5px;
}
header .polkadod .green{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    margin: 5px;
}
.navbar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 35%;
    color: darkgray;
    
}
.navbar li{
    margin: 20px;
    color: solid white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
}

.jumbotron{
    width: 100%;
    /* border: 1px solid white; */
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    z-index: 1;
    color: white;
}
.jumbotron .judul{
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
    color: solid white;
    font-size: 45px;

}
.jumbotron .judul .titel{
    font-size: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-top: 30px;
    border-bottom:2px solid white;
    color: orangered;

}
.sembarang{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 5px;
    background-color: #9FEF00;
    z-index: -1;
    padding: 10px;
    /*border-top-left-radius: 40px;*/
}

.neh {
    line-height: 100px;
}
.img-depan{
    display: flex;
    margin-right: 0px;
    border: 2px solid #9FEF00;
}

.about{
    
}

.about .judul{
    /* border: 1px solid white; */
    width: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center ;
}

.about {
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    color: #fff;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: left;
    text-align: left;
}

.abote {
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-direction: column; */
    font-family: 'poppins';
    /* background-color: #ff5500; */
    color: white;
    size: 120px;

}

.abote .isi{
    /* background-color: aqua; */
    margin-left: 20px;
    color: white;
}

.project{
    
    font-family: 'poppins';
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    size: 50px;
    margin-top: 100px;
    
}
.project h1{
    justify-content: center;
    color: white;

}

.adah{
    display: flex;
}
.project1 {
    border: 1px solid white;
    height: 70vh;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

