
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,900&family=Poppins:ital,wght@0,300;1,900&display=swap');

    *,html,body{
        margin: 0;
        padding: 0s;
        scroll-behavior: smooth;
    }
    body{
        background: #111927;
        color: solid white;
        overflow-x: hidden;

    }
    header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 20px;
        margin-left: 20px;

    }
header .polkadod{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;

}
header .polkadod .red {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin: 5px;

}
header .polkadod .yellow{
    width:30px ;
    height: 30px;
    border-radius:50% ;
    background-color: yellow;
    margin: 5px;
}
header .polkadod .green{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    margin: 5px;
}
.navbar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 35%;
    color: darkgray;
    
}
.navbar li{
    margin: 20px;
    color: solid white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    
}

.navbar li a{
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover{
    color: red;
}

.jumbotron{
    width: 100%;
    /* border: 1px solid white; */
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    z-index: 1;
    color: white;
}
.jumbotron .judul{
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
    color: solid white;
    font-size: 45px;

}
.jumbotron .judul .titel{
    font-size: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-top: 30px;
    border-bottom:2px solid white;
    color: orangered;

}
.sembarang{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 5px;
    background-color: #9FEF00;
    z-index: -1;
    padding: 10px;
    /*border-top-left-radius: 40px;*/
}

.neh {
    line-height: 100px;
}
.img-depan{
    display: flex;
    margin-right: 0px;
    border: 2px solid #9FEF00;
}

.about{
    
}

.about .judul{
    /* border: 1px solid white; */
    width: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    justify-content: center ;
}

.about {
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    color: #fff;
    font-family: 'Hanken Grotesk', sans-serif;
 
    justify-content: center;
    text-align: center;
}

.abote {
    width: 100%;
    justify-content: center;
    /* flex-direction: column; */
    font-family: 'poppins';
    /* background-color: #ff5500; */
    color: white;
    margin-top: 250px;
    height: 100vh;

}

.abote h1{
    margin-left: 45%;
    font-size: 40px;
}

.abote .isi{
    /* background-color: aqua; */
    margin-left: 20px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;

}

.project{
    
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5vh;
    justify-content: center;
    size: 50px;
    margin-top: 100px;
    align-items: center;
    
    
}
.project h1{
    justify-content: center;
    color: white;
    

}

.project h3{
    justify-content: center;
    color: rgb(175, 175, 175);
}
.adah{
    display: flex;
    height: 100vh;
}
.project1 {
    border: 1px solid white;
    height: 70vh;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
    .sosial-link .button {
        display: inline-block;
        height: 60px;
        width: 60px;
        float: left;
        margin: 0 15px;
        border-radius: 50px;
        cursor: pointer;
        background-color: #384355;
        /* box-shadow: 0 10px 10px rgba(250, 246, 246, 0.1); */
        transition: all 0.5s ease;
        overflow: hidden;
        text-decoration: none;
        
    }
    
    .sosial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;
    }



    .sosial-link .button:hover{
        width: 200px;
        background-color: #9FEF00;
    }
    
    .sosial-link .button .icon {
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
    }
    
    .sosial-link .button:nth-child(2):hover {
        width: 230px;
    }
    
    .sosial-link .button:nth-child(3):hover {
        width: 190px;
    }
    
    .sosial-link .button:nth-child(4):hover {
        width: 220px;
    }
    
    .sosial-link .button:hover .icon {
        background-color: #9FEF00;
    }
    
    .sosial-link .button:hover .icon i {
        color: #0f172a;
    }
    
    /* .sosial-link .button:hover .icon i {
        background-color: #0f172a;
        color: #0f172a;
    } */
    
    .sosial-link .button .icon i {
        font-size: 35px;
        line-height: 60px;
        color: #9FEF00;
    }
    
    .sosial-link .button .icon-tag {
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        color: black;
        font-weight: bold;
    }

    .contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 80px;
        background-color: #1E293B;
    }
    
    .contact article {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .contact article .contact-ttl {
        width: 100%;
        font-size: 45px;
        font-family: sans-serif;
        color: #9FEF00;
        margin-bottom: 50px;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .contact article .des-contact {
        width: 50%;
        font-family: sans-serif;
        font-size: 20px;
        color: rgba(245, 245, 245, 0.546);
        text-align: center;
        margin-bottom: 50px;
    }
    
    .contact article .box-contact {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* border: 1px solid white; */
    }
    
    .contact article .box-contact .label {
        width: 100%;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #9FEF00;
        line-height: 24px;
    }
    
    
    .contact article .box-contact .int {
        width: 100%;
        height: 48px;
        font-family: sans-serif;
        font-size: 16px;
        color: #9FEF00;
        padding: 12px;
        border: none;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    
    .contact article .box-contact .message {
        width: 100%;
        border-radius: 15px;
        font-family: sans-serif;
        font-size: 16px;
        color: #9FEF00;
        padding: 12px;
        margin-bottom: 25px;
    }
    
    
    input[type=text], input[type=email], textarea[type=text] {
        box-sizing: border-box;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    
    .contact article .box-contact .submit {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: 700;
        color: #1E293B;
        background-color: #9FEF00;
        border-radius: 25px;    
    }
    
    .contact article .box-contact .submit:hover {
        background-color: #8cd103;
    }